# LangGraph + LangChain core
langgraph
langchain
langchain-core
langchain-groq
google-generativeai
langchain-google-genai

# GitHub API
PyGithub


# Environment variables
python-dotenv

# Testing
pytest

# Backend
fastapi
uvicorn

# Tracing & Formatting
langsmith
black
flake8