# LangGraph + LangChain core
langgraph
langchain
langchain-core
langchain-groq
google-generativeai
langchain-google-genai

# GitHub API
PyGithub

# Docker
docker

# Environment variables
python-dotenv

# Testing
pytest

# Backend
fastapi
uvicorn

#LLM
langchain-google-genai

# Tracing & Formatting
langsmith
black
flake8